div {
    background-color: skyblue;
    width: 300px;
    border: 15px solid brown;
    padding: 50px;
    margin: 20px;
}

.myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}
